form{
    padding: 20px;
    padding-top: 5px;

        div{
            padding-top: 8px;
            h3{
                padding: 15px;
            }
        }
        .btn{
            display: flex;
            justify-content: end;
        }
}